body{
    background-color: #85FFBD;
    background-image: linear-gradient(90deg, #85FFBD 30%, #f47dff 100%);
}
/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-size:32px;
    margin:5px 0;
    float:left;
    border:none;
    padding:10px;
    outline:none;
 }
 .search-bar{
    width:80%;
 }
 .submit-button{
    width:15%;
    background:#000;
    color:#FFF;
 }
 
 .bookmarks{
   padding:30px;
}
.bookmarks a{
   font-size:42px;
   margin:0 20px;
   color:#ffecc3;
   transition:.15s;
   vertical-align: top;
}
.bookmarks a:hover{
   font-size:72px;
   position:relative;
}
h1{
   font-size:50px;
   width:100%;
    max-width:600px;
    margin:0 auto;
   }

@media only screen and (max-width: 900px) {
      h1{
          margin-top:50px;
          font-size:100px;
      }
   }
   
   
@media only screen and (max-width: 600px) {
      h1{
          margin-top:50px;
          font-size:75px;
      }
      .bookmarks i{
      margin:0 15px;
      }
   }
   